<!-- sidebar.component.html -->
<div class="sidebar">
  <ul>
    <li>
      <button mat-icon-button (click)="onLinkClick('/home')">Home</button>
      <!-- <a onclick='() => onLinkClick("home")' class="sidebar-link">Home</a> -->
    </li>

    <li>
      <button mat-icon-button (click)="onLinkClick('/tango')">Tango</button>
      <!-- <a onclick='() => onLinkClick("tango")' class="sidebar-link">Tango</a> -->
    </li>
    <li>
      <button mat-icon-button (click)="onLinkClick('/queens')">Queens</button>
      <!-- <a onclick='() => onLinkClick("queens")' class="sidebar-link">Queens</a> -->
    </li>
  </ul>
</div>
